@mixin display-flex($direction: row, $align-x: flex-start, $align-y: flex-start) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $align-x;
  align-items: $align-y;
}

